anyio==3.6.1
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
coloredlogs==15.0.1
ddddocr==1.4.7
fastapi==0.85.1
flatbuffers==22.9.24
h11==0.14.0
httptools==0.5.0
humanfriendly==10.0
idna==3.4
mpmath==1.2.1
numpy==1.23.4
onnxruntime==1.12.1
opencv-python-headless==4.6.0.66
packaging==21.3
Pillow==9.2.0
protobuf==4.21.7
pydantic==1.10.2
pyparsing==3.0.9
python-dotenv==0.21.0
python-multipart==0.0.5
PyYAML==6.0
requests==2.28.1
six==1.16.0
sniffio==1.3.0
starlette==0.20.4
sympy==1.11.1
typing_extensions==4.4.0
urllib3==1.26.12
uvicorn==0.18.3
uvloop==0.17.0
watchfiles==0.17.0
websockets==10.3
